/* **************************************** */
/* all styles: index.html + portfolio.html  */

:root{
    /* -----colors palette */
    --main-font-color:#212121;
    --submain-font-color:#757575;
    --body-background-color:#F5F5F5;
    --buttons-color:#F5F4FA;
    --accent-color:#2196F3;
    --contrast-sections-color:#2F303A;
    --contrast-text-color:#ffffff;
    --transparent-text-color:rgba(255, 255, 255, 0.6);
  }

body{
    font-family: 'Roboto','Raleway', sans-serif;
    background-color: var(--body-background-color);
    color: var(--main-font-color);
    font-size: 14px;
    letter-spacing: 0.03em;

}


/*-----remove dots from lists */
.list-style-none{
    list-style: none;
}
/* -----hide h1, h2... */
.hidden-content{
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}
/* -----remove lines under links */
.text-decoration-none{
    text-decoration: none;
}

/* -----logo style */
.logo-style{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:inherit;
}

.logo-studio-footer{
    color: var(--contrast-text-color);
}


/*-----page header style */
.page-header{
    background-color: var(--contrast-text-color);
    
}

.nav-link{
    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-link{
    color: var(--submain-font-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



/*-----page-main style*/
.page-main{
    background-color: var(--contrast-text-color);
}


/*-----page-footer style*/
.page-footer{
    background-color: var(--contrast-sections-color);
    color: var(--contrast-text-color);
}
.footer-link{
    font-style: normal; /* italic off */
    line-height: 1.71;
    color: var(--transparent-text-color);
}
.adress{
    font-style: normal; /* italic off */
    line-height: 1.71;
    color: inherit;
} 
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.footer-link:hover,
.footer-link:focus{
    color: var(--accent-color);
}

/* ***************** */
/* index.html styles */

.hero{
    background-color: var(--contrast-sections-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--contrast-text-color);
}
.order-button{
    border-style: none;
    background-color: var(--accent-color);
    height: 50px;
    border-radius: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 2.38;
    text-align: center;
    padding: 1px 22px;
    margin-right: 8px;
    cursor: pointer;
    color: var(--contrast-text-color);
}

.benefits-title{
    line-height: 1.14;
    text-transform: uppercase;   
}
.benefits-description{
    line-height: 1.71;    
    color: var(--submain-font-color);
}
.team{
    background-color: var(--body-background-color);
}
.team-member{
    background-color: var(--contrast-text-color);
    width: 270px;
    height: 370px;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-position{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--submain-font-color);
}
.section-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* ********************* */
/* portfolio.html styles */

.filter-button-style{
    border-style: none;
    border-radius: 5px;
    background-color: var(--buttons-color);
    height: 38px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 1px 22px;
    margin-right: 8px;
    font-style: inherit;
    cursor: pointer;
}
.filter-button-style:hover,
.filter-button-style:focus{
    background-color: var(--accent-color);
    color: var(--contrast-text-color);
}

.project{
    width: 370px;
    height: 405px;
}
.project-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-type{
    font-size: 16px;
    line-height: 1.88;
    color: var(--submain-font-color);
}

.current{
    color: var(--accent-color);
}
.active{
    background-color: var(--accent-color);
    color: var(--contrast-text-color);
}