/* **************************************** */
/* all styles: index.html + portfolio.html  */

:root{
    /* -----colors palette */
    --main-font-color:#212121;
    --submain-font-color:#757575;
    --body-background-color:#F5F5F5;
    --buttons-color:#F5F4FA;
    --accent-color:#2196F3;
    --contrast-sections-color:#2F303A;
    --contrast-text-color:#ffffff;
    --transparent-text-color:rgba(255, 255, 255, 0.6);
  }

body{
    font-family: 'Roboto','Raleway', sans-serif;
    background-color: var(--body-background-color);
    color: var(--main-font-color);
    font-size: 14px;
}
.all-content{
    width: 1600px;
    margin: 0px auto;
}

/*-----remove dots from lists */
.list-style-none{
    list-style: none;
}
/* -----hide h1, h2... */
.hidden-content{
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}
/* -----remove lines under links */
.text-decoration-none{
    text-decoration: none;
}

/* -----logo style */
.logo-style{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-studio-header{
    color: var(--main-font-color);
}
.logo-studio-footer{
    color: var(--contrast-text-color);
}

/*-----page header style */
.page-header{
    background-color: var(--contrast-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-links{
    color: var(--main-font-color);
}
.header-contacts{
    color: var(--submain-font-color);
}


/*-----page-main style*/
.page-main{
    background-color: var(--contrast-text-color);
}


/*-----page-footer style*/
.page-footer{
    background-color: var(--contrast-sections-color);
    color: var(--contrast-text-color);
    font-style: normal; /* italic off */
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-links{
    color: var(--transparent-text-color);
}
.footer-adress{
    color: var(--contrast-text-color);
}
.blue-links:hover,
.blue-links:focus{
    color: var(--accent-color);
}


/* ***************** */
/* index.html styles */

.proposition-section{
    height: 600px;
    background-color: var(--contrast-sections-color);
    color: var(--contrast-text-color);
}
.proposition-text{
    width: 695px;
    height: 120px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.order-button{
    border-style: none;
    background-color: var(--accent-color);
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 2.38;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 1px 22px;
    margin-right: 8px;
    cursor: pointer;
    color: var(--contrast-text-color);
}

.benefits-name{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.benefits-description{
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--submain-font-color);
    
}
.our-team-section{
    background-color: var(--body-background-color);
}
.member-of-team{
    background-color: var(--contrast-text-color);
    width: 270px;
    height: 370px;
}
.member-of-team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.member-of-team-proff{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--submain-font-color);
}
.section-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}


/* ********************* */
/* portfolio.html styles */

.filter-button-style{
    border-style: none;
    background-color: var(--buttons-color);
    height: 38px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 1px 22px;
    margin-right: 8px;
    cursor: pointer;
}
.filter-button-style:hover,
.filter-button-style:focus{
    background-color: var(--accent-color);
    color: var(--contrast-text-color);
}
.project{
    width: 370px;
    height: 405px;
}
.project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-font-color);
}
.project-type{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--submain-font-color);
}